.header {
 background-color:#20232a;
 color:#ffffff;
 position:fixed;
 z-index:1;
 width:100%;
 top:0;
 left:0;
}

.container {
  display: flex;
  flex-direction:row;
  flex-wrap: nowrap;
  padding-left: 20px;
  padding-right: 20px;
  margin-left:auto;
  margin-right:auto;
  align-items: center;
  height: 60px;
}

.link {
  text-decoration: none;
  background-color: transparent;
  cursor: pointer;
}

.logo {
  display:-webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  margin-right:10px;
  height:100%;
  align-items:center;
  color: white;
  -webkit-box-align:center;
  -webkit-align-items:center;
}
.logo:focus {
 outline: 0;
 color: #ffffff;
}
@media (min-width: 600px) {
 .logo-a {
  width:calc(100% / 6);
 }
}
@media (max-width: 599px) {
 .logo {
  flex: 0 0 auto;
  -webkit-flex: 0 0 auto;
 }
}

.logo-span {
  margin-left: 10px;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
}
@media (max-width: 979px) {
  .logo-span {
   font-size:16px;
   margin-top:1px;
  }
 }
 @media (max-width: 599px) {
  .logo-span {
   position:absolute;
   overflow:hidden;
   clip:rect(0 0 0 0);
   height:1px;
   width:1px;
   margin:-1px;
   padding:0;
   border:0;
  }
 }

.navbar {
 flex:1;
 display:-webkit-box;
 display: -moz-box;
 display: -ms-flexbox;
 display: -webkit-flex;
 display: flex;
 flex-direction:row;
 align-items:stretch;
 overflow-x:auto;
 overflow-y:hidden;
 -webkit-overflow-scrolling:touch;
 height:100%;
 scrollbar-width:none;
 -ms-overflow-style:none;
 -webkit-flex:1;
 -webkit-box-orient:horizontal;
 -webkit-box-direction:normal;
 -webkit-flex-direction:row;
 -webkit-box-align:stretch;
 -webkit-align-items:stretch;
}
.navbar::-webkit-scrollbar {
 display:none;
}
@media (min-width: 0px) and (max-width: 599px) {
  .navbar {
  flex-grow:1;
  width:auto;
  -webkit-flex-grow:1;
 }
}
@media (max-width: 599px) {
  .navbar {
  mask-image:-webkit-linear-gradient(to right, transparent, black 20px, black 90%, transparent);
  mask-image: -moz-linear-gradient(to right, transparent, black 20px, black 90%, transparent);
  mask-image: linear-gradient(to right, transparent, black 20px, black 90%, transparent);
  -webkit-mask-image:-webkit-linear-gradient(to right, transparent, black 20px, black 90%, transparent);
  -webkit-mask-image: -moz-linear-gradient(to right, transparent, black 20px, black 90%, transparent);
  -webkit-mask-image: linear-gradient(to right, transparent, black 20px, black 90%, transparent);
 }
}

.auth {
 display:-webkit-box;
 display: -moz-box;
 display: -ms-flexbox;
 display: -webkit-flex;
 display: flex;
 align-items:center;
 justify-content:flex-end;
 width:auto;
 -webkit-box-align:center;
 -webkit-align-items:center;
 -webkit-box-pack:end;
 -webkit-justify-content:flex-end;
}

.auth a {
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  color: #ffffff;
  white-space: nowrap;
  line-height:2;
  flex-wrap: nowrap;
  text-decoration: none;
  box-sizing: inherit;
  padding-left:12px;
  padding-right:10px;
  cursor: pointer;
  margin: 4px 5px;
  border-radius: 4px;
}
.auth a:hover{
  color:#61dafb;
  background-color: rgba(51, 50, 53, 0.7);
  transition: background-color 100ms linear, color 100ms linear, border 100ms linear;
}
