.card {
  cursor: pointer;
  border-radius: 6px !important;
  transition: all 0.4s ease 0s !important;
  transform: translate3d(0px, 0px, 0px);
}
.card:hover,
.card:focus {
  transform: translateY(-5px);
  box-shadow: rgb(50 50 50 / 10%) 0px 16px 32px, rgb(0 0 0 / 7%) 0px 6px 16px;
  color: #0f7c90;
}

.truncateText {
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  white-space: normal;
}
