.list-root {
  display: flex;
  width: 100%;
  box-sizing: border-box;
  padding-left: 24px;
  padding-right: 24px;
  align-items: flex-start;
  justify-content: center;
}

.list-container {
  display: flex;
  position: relative;
  min-width: 300px;
  max-width: 1280px;
  min-height: 350px;
  justify-content: center;
}
@media (min-width: 1280px){
  .list-container {
    width: 1280px;
  }
}
@media (max-width: 1279px){
  .list-container {
    width: 960px;
  }
}
@media (max-width: 959px){
  .list-container {
    width: 640px;
  }
}
@media (max-width: 599px){
  .list-container {
    width: 300px;
  }
}
