.local {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  color: whitesmoke;
  background-color: rgba(0, 0, 0, 0.35);
  align-items: center;
  justify-content: center;
}
