.footer {
  flex-shrink: 0;
  background-color:#20232a;
  color:#ffffff;
  position: relative;
  z-index: 1;
  width: 100%;
  left: 0;
  bottom: 0;
  padding-top: 5px;
  padding-bottom: 5px;
}

.footer-container {
  display: flex;
  flex-direction:row;
  flex-wrap: nowrap;
  padding-left: 20px;
  padding-right: 20px;
  margin-left:auto;
  margin-right:auto;
}

.footer-left-section {
  display: flex;
  flex-direction:row;
  flex-wrap: nowrap;
  width: 80%;
  min-width: 200px;
}

.footer-right-section {
  display: flex;
  flex-direction:row;
  flex-wrap: nowrap;
  width: 20%;
  min-width: fit-content;
  justify-content: flex-end;
}

.footer a {
  color: #ffffff;
  line-height:2;
  flex-wrap: nowrap;
  text-decoration: none;
  box-sizing: inherit;
  padding-left:12px;
  padding-right:10px;
  cursor: pointer;
  margin: 4px 5px;
  border-radius: 4px;
}
.footer a:hover{
  color:#61dafb;
  background-color: rgba(51, 50, 53, 0.7);
  transition: background-color 100ms linear, color 100ms linear, border 100ms linear;
}

.footer a svg {
  vertical-align:-2px;
  display:inline-block;
  margin-left:5px;
  color:#6d6d6d;
}
